include README_BC.txt
include README_ply.md
include outputformatclingocoala
include page/index.html
include testcases/bug2.b
include testcases/bug.b
include testcases/dom_1.bc
include testcases/dom_2.bc
include testcases/dom_3.bc
include testcases/dom_4.bc
include testcases/dom_5.bc
include testcases/dom_6.bc
include testcases/flu.bc
include testcases/greedy.bc
include testcases/neg.bc
include testcases/role_1.bc
include testcases/role_2.bc
include testcases/role_3.bc
include testcases/role_4.bc
include testcases/role_5.bc
include testcases/role_5b.bc
include testcases/role_6.bc
include testcases/test1.b
include testcases/test1.bc
include testcases/test2.bc
include testcases/test3.bc
include testcases/test4.bc
include testcases/test5.bc
include testcases/test6.bc
include testcases/test7.bc
include testcases/test8.bc
include testcases/test9.bc
include testcases/test10.bc
include testcases/test_benjamin2.bc
include testcases/test_benjamin3.bc
include testcases/test_benjamin.bc
include testcases/test_evil.bc
include testcases/test_false.bc
include testcases/test_neg_act.bc
include testcases/test_nex.bc
include testcases/test_true.bc
include testcases/test_true_2.bc
include testcases/test_true_false.bc
include testcases/test_where.b
include testcases/test_where.bc
include testcases/test_where_2.bc
include testcases/test_where_3.bc
include testcases/test_where_4.bc
include testcases/test_where_5.bc
include testcases/test_where_6.bc
include testcases/test_where_dot.bc
include testcases/binding_1.bc
include testcases/binding_2.bc
include testcases/binding_3.bc
include testcases/test_domain_var.bc
include testcases/test_bound.bc
include examples/sumo.bc
include examples/sumo_instance.bc
include examples/walkbot.bc
include examples/walkbot_instance.bc
include examples/medical.bc
include examples/medical_instance.bc
include examples/bouncing/bounce.bc
include examples/bouncing/plan1.lp
include examples/bouncing_2/bounce.bc
include examples/bouncing_2/plan1.lp
include examples/bouncing_2/plan2.lp
include examples/elevator/elevator.bc
include examples/elevator/plan1.lp
include examples/elevator_transfer/elevator.bc
include examples/elevator_transfer/plan1.lp
include examples/monkey/monkey.bc
include encodings/arithmetic.lp
include encodings/arithmetic_new.lp
include encodings/arithmetic_initial.lp
include encodings/base.lp
include encodings/base_translation.lp
include encodings/base_initial.lp
include encodings/base_finally.lp
include encodings/csp.lp
include encodings/incremental.lp
include encodings/solve_incremental.lp
include encodings/incremental_clingo.lp
include encodings/internal/arithmetic.lp
include encodings/internal/csp.lp
include encodings/internal/fixed.lp
include encodings/internal/fixed_not_decoupled.lp
include encodings/internal/iterative.lp
include encodings/internal/iterative_not_decoupled.lp
include encodings/internal/states.lp
include encodings/internal/states_not_decoupled.lp
include encodings/internal/transitions.lp
include encodings/internal/transitions_not_decoupled.lp
